<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wlhehe blog</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav">
        <ul class="category-1">
            <li class="category-text-1"><a href="login.html">로그인</a></li>
            <li class="category-text-1"><a href="">검색</a></li>
        </ul>
        <div class="title">
            <p class="title-text"><a href="index.html">wlhehe blog</a></p>
        </div>
        <ul class="category-2">
            <li class="category-text-2"><a href="post.html">게시물 작성</a></li>
            <li class="category-text-2"><a href="">카테고리1</a></li>
            <li class="category-text-2"><a href="">카테고리2</a></li>
        </ul>

    </div>
    <div class="content-container">
        <!-- 프로필 이미지 -->
        <div class="profile">
            <img src="profile_image.png" alt="">
        </div>
        <div class="profile-text">
            <p class="profile-text-1">Han Jihee</p>
            <p class="profile-text-2">
                Instagram @wlhehe 
                <br>
                GitHub wlhehe
            </p>
        </div>
    </div>
</body>
</html>