<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wlhehe blog</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="style_post.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav">
        <!-- <ul class="category-1">
            <li class="category-text-1"><a href="login.html">wlhehe blog</a></li>
        </ul> -->
        <div class="nav-title">
            <p class="nav-title-text"><a href="index.html">wlhehe blog</a></p>
        </div>
        <ul class="nav-category">
            <li class="nav-category-text"><a href="">임시저장</a></li>
            <li class="nav-category-text"><a href="">게시하기</a></li>
        </ul>
    </div>
    <div class="content-container">
        <div class="post-title">
            <form name="edit-form" action="">
                <input type="title" id="edit-title" name="edit-title" placeholder="제목을 작성하세요" required>
                <input type="contents" id="edit-contents" name="edit-contents" placeholder="내용을 작성하세요" required>
            </form>
        </div>
    </div>
</body>
</html>